.title-page{
    text-align: center;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.871), -0.5rem -0.5rem rgba(94, 33, 41, 0.9);    
    margin: 2px;
}
.span-bottom {
    margin-bottom: 10px;
    color: rgb(94, 33, 41);
    text-shadow: 10px;
}

.box-image-ian{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    

}
#image-ian{
    width: 260px;
    box-shadow: 3px 10px 18px rgb(94, 33, 41);
    border-radius: 10%;

}

.social-box {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 15px;
    height: 30px;
    max-block-size: 40px;
    
}

.social-ancora {
    display: flex;
    margin-left: 30%;
    gap: 20px;
      
}

#image-social-ancora-facebook {
    width: 16px;
    height: 16px;
    transition: 0.4s;
}

#image-social-ancora-github {
    width: 16px;
    height: 16px;
    transition: 0.4s;
}

#image-social-ancora-instagram {
    width: 16px;
    height: 16px;
    transition: 0.6s;
}


#image-social-ancora-facebook:hover {
    width: 17px;
    height: 17px;
    box-shadow: 0 4px 4px -4px rgb(28, 57, 121);
}

#image-social-ancora-github:hover {
    width: 17px;
    height: 17px;
    box-shadow: 0 4px 4px -4px rgb(20, 20, 20);
}

#image-social-ancora-instagram:hover {
    width: 17px;
    height: 17px;
    box-shadow: 0 4px 4px -4px rgb(197, 16, 106);
}

.timeline   { 
    text-align: center;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.871), -0.5rem -0.5rem rgba(94, 33, 41, 0.9);  
    font-family: monospace;
    height: 400px;

}

.albums{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    
}

.album-list{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px ;

}

.album-iten {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.album-cover {
    width: 200px;
    height: 200px;
    transition: 0.6s;
}

.album-cover:hover {
  box-shadow: 0 8px 8px -4px rgb(0, 0, 0);
  width: 205px;
  height: 205px;

}



.text-center { 
    text-align: center;
    font-family: 'Supermercado One', cursive; 
}

.font-sup {
    font-family: 'Supermercado One', cursive; 

}
.under-line-purple [
    
]
