.title-page{
    text-align: center;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem rgba(153, 153, 153, 0.425);    
    margin: 2px;
}
.box-image-ian{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    

}
#image-ian{
    width: 300px;
    box-shadow: 3px 10px 18px #888888;
    border-radius: 10%;
}

.social-ancora {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
      
}

.image-social-ancora {
    width: 25px;
    height: 25px;
    border-radius: 1000%;
    transition: 1s;
}

:hover.image-social-ancora{
    width: 30px;
    height: 30px;
}

.timeline   { 
    text-align: center;
    border: 1px solid black;
    font-family: georgia;

}

.albums{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    
}

.album-list{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px ;

}

.album-iten {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.album-cover {
    width: 200px;
    height: 200px;
    transition: 2s;
}

.album-cover:hover {
  box-shadow: 0 8px 8px -4px rgb(0, 0, 0);
  width: 205px;
  height: 205px;

}



.text-center { 
    text-align: center;
    font-family: 'Supermercado One', cursive; 
}

.font-sup {
    font-family: 'Supermercado One', cursive; 

}

.span-bottom {
    margin-bottom: 10px;
}
